# CHAPTER 1 : HELLO WORLD

In [1]:
# 1.1 : WAP to print your name three times.

name = "Arshdeep Singh Malhotra"
print(name)
print(name)
print(name)

Arshdeep Singh Malhotra
Arshdeep Singh Malhotra
Arshdeep Singh Malhotra

# CHAPTER 2 : ADD NUMBERS AND CONCATENATE STRINGS

In [2]:
# 2.1 : WAP to add three numbers and print the result.

num1 = 5
num2 = 10
num3 = 15

result = num1 + num2 + num3
print(f"The sum of {num1}, {num2}, and {num3} is: {result}")

The sum of 5, 10, and 15 is: 30

In [3]:
# 2.2 : WAP to concatinate three strings and print the result.

str1 = "Hello"
str2 = "World"
str3 = "Python"

result = str1 + str2 + str3
print(f"{str1} + {str2} + {str3} = {result}")

Hello + World + Python = HelloWorldPython

# CHAPTER 4 : LOOPS

In [4]:
# 4.1 : WAP to print the table of 7, 9.

def print_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

print_table(7)
print_table(9)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [5]:
# 4.2 : WAP to print the table of n where n is taken from user input.

n = int(input("Enter a number: "))
print_table(n)

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [6]:
# 4.3 : WAP to add all the numbers from 1 to n where n is taken from user input.

n = int(input("Enter a number: "))
sum = sum(range(1, n + 1))
print(f"The sum of numbers from 1 to {n} is {sum}")

Enter a number: 10
The sum of numbers from 1 to 10 is 55

# CHAPTER 5 : CONDITIONAL STATEMENTS

In [8]:
# 5.1 : WAP to find max among three numbers given by user input.

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

max_num = max(num1, num2, num3)
print(f"The maximum number among {num1}, {num2}, and {num3} is: {max_num}")

Enter first number: 10
Enter second number: 10
Enter third number: 10
The maximum number among 10, 10, and 10 is: 10

In [14]:
# 5.2 : WAP to add all the numbers which are divisible by 7 and 9 from 1 to n where n is taken from user input.

n = int(input("Enter a number: "))
sum_divisible = sum(i for i in range(1, n + 1) if i % 7 == 0 and i % 9 == 0)
print(f"The sum of numbers from 1 to {n} that are divisible by 7 and 9 is: {sum_divisible}")

Enter a number: 100
The sum of numbers from 1 to 100 that are divisible by 7 and 9 is: 63

In [15]:
# 5.3 : WAP to add all prime numbers from 1 to n where n is taken from user input.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter a number: "))
sum_primes = sum(i for i in range(1, n + 1) if is_prime(i))
print(f"The sum of prime numbers from 1 to {n} is: {sum_primes}")

Enter a number: 100
The sum of prime numbers from 1 to 100 is: 1060

# CHAPTER 6 : FUNCTIONS

In [16]:
# 6.1 : WAP using function that add all the numbers from 1 to n where n is taken from user input.

def sum_numbers(n):
    s = 0
    for i in range(1, n + 1):
        s = s + i
    return s

n = int(input("Enter a number: "))
print(f"The sum of numbers from 1 to {n} is: {sum_numbers(n)}")

Enter a number: 100
The sum of numbers from 1 to 100 is: 5050

In [17]:
# 6.2 : WAP using function that add all prime numbers from 1 to n where n is taken from user input.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_prime_numbers(n):
    return sum(i for i in range(1, n + 1) if is_prime(i))

n = int(input("Enter a number: "))
print(f"The sum of prime numbers from 1 to {n} is: {sum_prime_numbers(n)}")

Enter a number: 100
The sum of prime numbers from 1 to 100 is: 1060